.header {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  max-height: 64px;
}
.header-container {
  margin: 0 auto;
  display: flex;
  max-width: 1440px;
  padding: 14px 32px;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; /* убирает подчёркивание */
  color: inherit; /* наследует цвет родительского элемента */
}

.logo-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #0a0a0a;
  transition: opacity 0.2s;
}
.logo-text:hover {
  opacity: 0.7;
}

.logo-group {
  display: flex;
  justify-content: start;
  gap: 32px;
}

.logo-container {
  max-width: 106px;
}

.filter-buttons {
  display: flex;
  max-width: 167px;
  justify-content: space-between;
}

.menu-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.menu-btn.active {
  color: #0a0a0a;
}

.menu-btn.non-active {
  color: #717182;
}

.btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.right-btn {
  width: 36px;
  height: 36px;
}
